@{
    ViewBag.Title = "DataSetList";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<div id="mainArea" v-loading.fullscreen.lock="fullscreenLoading">

    <div>
        <el-row :gutter="10">
            <el-col :span="24">
                选择项目：<el-select v-model="SelectForm.projectId" placeholder="请选择项目" v-on:change="projectTrigger()">
                    <el-option v-for="item in SelectForm.projectList"
                               :key="item.id"
                               :label="item.projectName"
                               :value="item.id">
                    </el-option>
                </el-select>
                &nbsp;
                选择数据：<el-select v-model="SelectForm.dataSetId" placeholder="请选择数据" v-on:change="dataSetTrigger()">
                    <el-option v-for="item in SelectForm.dataSetList"
                               :key="item.dataSetId"
                               :label="item.dataSetName"
                               :value="item.dataSetId">
                    </el-option>
                </el-select>
                &nbsp;
                选择数据集：<el-select v-model="SelectForm.resultDataId" placeholder="请选择数据集">
                    <el-option v-for="item in SelectForm.resultDataList"
                               :key="item.id"
                               :label="item.name"
                               :value="item.id">
                    </el-option>
                </el-select>

                &nbsp;
                <el-button v-on:click="onSearch" type="primary">查看</el-button>
            </el-col>
        </el-row>
    </div>
    <div>

        <el-table v-bind:data="DataCheckList"
                  stripe
                  style="width: 100%">
            <el-table-column prop="name"
                             label="字段名" min-width="30%">
            </el-table-column>


            <el-table-column prop="rem"
                             label="重命名" min-width="30%">
            </el-table-column>

            <el-table-column prop="nullPercent"
                             label="空值占比" min-width="15%">
            </el-table-column>

            <el-table-column label="类型" min-width="15%" :formatter="isContinuousFormatter">
            </el-table-column>

            <el-table-column label="操作" min-width="10%">
                <template slot-scope="scope">
                    <el-link type="primary" v-on:click="showRemDlg(scope.row)">编辑</el-link>
                    <el-link type="primary" v-on:click="showfillFieldDlg(scope.row)">填充</el-link>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination background style="float:right;"
                       layout="total,sizes, prev, pager, next"
                       :page-sizes="[10, 15, 20, 50]"
                       v-on:current-change="searchList"
                       v-on:size-change="onSearch"
                       v-bind:total="total"
                       v-bind:current-page.sync="pageIndex"
                       v-bind:page-size.sync="pageSize">
        </el-pagination>
    </div>


    <el-dialog title="编辑" v-bind:visible.sync="editRemDlg" top="5vh" width="40%" :close-on-click-modal="false">
        <div style="min-height:150px;overflow-x:hidden;">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="重命名" prop="rem">
                    <el-input v-model="ruleForm.rem"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="submitRemFormData('ruleForm')">提交</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-dialog>

    <el-dialog title="填充" v-bind:visible.sync="fillFieldDlg" top="5vh" width="40%" :close-on-click-modal="false">
        <div style="min-height:250px;padding-right:50px">
            <el-form :model="fillForm" status-icon :rules="fillRules" ref="fillForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="填充模式:" prop="condition">
                    <el-select v-model="fillForm.condition" placeholder="请选择...">
                        <el-option label="所有值" value="all"></el-option>
                        <el-option label="空白值" value="blank"></el-option>
                        <el-option label="空值" value="null"></el-option>
                        <el-option label="空白值和空值" value="blankOrNull"></el-option>
                    </el-select>
                </el-form-item>
                <br />
                <el-form-item label="填充为" prop="filedValue">
                    <el-input v-model="fillForm.fieldValue"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="fillFieldFormData('fillForm')">提交</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-dialog>
</div>

<script>
    var main = new Vue({
        'el': '#mainArea',
        data: function () {
            return {
                DataCheckList: [],
                total: 0,
                pageIndex: 1,
                pageSize: 10,
                fullscreenLoading: false,
                dataSetName: "",
                editRemDlg: false,
                fillFieldDlg: false,
                projectAndSub: [],
                SelectForm: {
                    projectId: "",
                    projectList: [],
                    dataSetId: "",
                    dataSetList: [],
                    resultDataId: "",
                    resultDataList: []
                },
                ruleForm: {
                    rem: "",
                    id: 0,
                },
                rules: {
                    rem: [{ required: true, message: '请输入内容', trigger: 'blur' }],
                },

                fillForm: {
                    condition: "",
                    fieldValue: "",
                    columnName: "",
                    resultDataId: "",
                    rdDataColumnId:""

                },
                fillRules: {
                    condition: [{ required: true, message: '请选填充模式', trigger: 'blur' }],
                    fieldValue: [{ required: true, message: '请输入内容', trigger: 'blur' }]
                }

            };
        },
        methods: {
            onSearch: function () {
                this.pageIndex = 1;
                this.searchList();
            },
            searchList: function () {
                var param = {};
                param.pageIndex = this.pageIndex;
                param.pageSize = this.pageSize;
                param.resultDataId = this.SelectForm.resultDataId;
                this.fullscreenLoading = true;
                var that = this;
                $.ajax({
                    url: "/DataManage/SearchRdColumnList",
                    type: "GET",
                    data: param,
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.success) {
                            that.DataCheckList = data.data;
                            that.total = data.total;
                        }
                        else {
                            console.log(data.msg);
                        }
                        that.fullscreenLoading = false;
                    }
                });
            },
            showfillFieldDlg: function (row) {
                this.fillFieldDlg = true;
                this.fillForm.condition = "";
                this.fillForm.fieldValue = "";
                this.fillForm.columnName = row.name;
                this.fillForm.resultDataId = row.resultDataId;
                this.fillForm.rdDataColumnId = row.id;
            },
            showRemDlg: function (row) {
                this.editRemDlg = true;
                this.ruleForm.rem = row.rem;
                this.ruleForm.id = row.id;

            },
            submitFormData: function (formName) {
                var param = this.ruleForm;
                var that = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/DataManage/UpdateRdColumnName",
                            type: "Post",
                            data: param,
                            dataType: 'json',
                            success: function (data) {
                                that.editRemDlg = false;
                                that.searchList();
                                if (data && data.success) {
                                    that.$message({
                                        type: "success",
                                        message: data.msg
                                    });
                                }
                                else {
                                    that.$message({
                                        type: "error",
                                        message: data.msg
                                    });
                                    console.log(data.msg);
                                }
                            }
                        });

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            fillFieldFormData: function (formName) {
                var param = this.fillForm;
                var that = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/DataManage/FillRdField",
                            type: "Post",
                            data: param,
                            dataType: 'json',
                            success: function (data) {
                                that.fillFieldDlg = false;
                                that.searchList();
                                if (data && data.success) {
                                    that.$message({
                                        type: "success",
                                        message: data.msg
                                    });
                                }
                                else {
                                    that.$message({
                                        type: "error",
                                        message: data.msg
                                    });
                                    console.log(data.msg);
                                }
                            }
                        });

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            isContinuousFormatter(row, column) {
                if (row.isContinuous) {
                    return '连续';
                } else {
                    return '分类';
                }
            },
            projectTrigger() {
                this.SelectForm.dataSetList = [];
                this.SelectForm.dataSetId = "";
                this.SelectForm.resultDataList = [];
                this.SelectForm.resultDataId = "";
                for (var i = 0; i < this.projectAndSub.length; i++) {
                    if (this.projectAndSub[i].id == this.SelectForm.projectId) {
                        this.SelectForm.dataSetList = this.projectAndSub[i].dataSetList;
                    }
                }
            },
            dataSetTrigger() {
                this.SelectForm.resultDataList = [];
                this.SelectForm.resultDataId = "";
                for (var i = 0; i < this.SelectForm.dataSetList.length; i++) {
                    if (this.SelectForm.dataSetList[i].dataSetId == this.SelectForm.dataSetId) {
                        this.SelectForm.resultDataList = this.SelectForm.dataSetList[i].resultDataList;
                    }
                }
            }
        },
        mounted: function () {
            //初始化下拉框值
            var that = this;
            this.fullscreenLoading = true;
            $.ajax({
                url: "/Project/GetProjectAndSub",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    if (data && data.success) {
                        that.SelectForm.projectList = data.data;
                        that.projectAndSub = data.data;
                    }
                    else {
                        console.log(data.msg);
                    }
                    that.fullscreenLoading = false;
                }
            });
        }
    });

</script>
