@{
    ViewBag.Title = "DataSetList";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<div id="mainArea" v-loading.fullscreen.lock="fullscreenLoading">

    <div>

        <el-row :gutter="10">
            <el-col :span="6">
                <el-input v-model="dataSetName"
                          placeholder="数据集名称"></el-input>
            </el-col>
            <el-col :span="4">
                <el-button v-on:click="onSearch" type="primary">搜索</el-button>
            </el-col>
            <el-col :span="14">

            </el-col>
        </el-row>
    </div>
        <div style="margin-top:10px">
            <el-table v-bind:data="DataSetList"
                      stripe
                      style="width: 100%">
                <el-table-column prop="dataSetName"
                                 label="数据集名称" min-width="30%">
                </el-table-column>

                <el-table-column 
                                 label="数据来源" min-width="10%" :formatter="sourceFormatter">
                </el-table-column>

                <el-table-column prop="projectName"
                                 label="所属项目" min-width="15%" >
                </el-table-column>

                <el-table-column prop="userName"
                                 label="创建人" min-width="10%">
                </el-table-column>

                <el-table-column prop="createTime"
                                 label="创建时间" min-width="15%">
                </el-table-column>
                <el-table-column
                                 label="是否生成" min-width="10%" :formatter="isGeneratedFormatter">
                </el-table-column>

                <el-table-column label="操作" min-width="10%">
                    <template slot-scope="scope">
                        <el-link type="primary" v-on:click="showMaintainDlg(scope.row)">编辑</el-link>
                        <el-link type="primary" v-on:click="showDeleteDlg(scope.row.dataSetId)">删除</el-link>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background style="float:right;"
                           layout="total,sizes, prev, pager, next"
                           :page-sizes="[10, 15, 20, 50]"
                           v-on:current-change="searchList"
                           v-on:size-change="onSearch"
                           v-bind:total="total"
                           v-bind:current-page.sync="pageIndex"
                           v-bind:page-size.sync="pageSize">
            </el-pagination>
        </div>


    <el-dialog title="编辑" v-bind:visible.sync="maintainDlg" top="5vh"  width="40%"  :close-on-click-modal="false">
        <div style="min-height:250px;padding-right:50px">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="数据集名称" prop="dataSetName">
                    <el-input v-model="ruleForm.dataSetName"></el-input>
                </el-form-item>
                <br />
                <el-form-item label="项目名称" prop="projectId">
                    <el-select v-model="ruleForm.projectId" placeholder="请选数据对应项目">
                        <el-option v-for="item in projectList"
                                   :key="item.id"
                                   :label="item.projectName"
                                   :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <br />
                <el-form-item label="数据集描述" prop="dataSetDesc">
                    <el-input v-model="ruleForm.dataSetDesc"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="submitFormData('ruleForm')">提交</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-dialog>

    <el-dialog title="提示" :visible.sync="deleteDlg" top="5vh" center width="30%"  :close-on-click-modal="false">
        <div class="del-dialog-cnt">确定要删除吗？</div>
        <span slot="footer" class="dialog-footer">
            <el-button v-on:click="deleteDlg=false">取 消</el-button>
            <el-button type="primary" v-on:click="deleteDataSet">确 定</el-button>
        </span>
    </el-dialog>
</div>

<script>
    var main = new Vue({
        'el': '#mainArea',
        data: function () {
            return {
                DataSetList: [],
                total: 0,
                pageIndex: 1,
                pageSize:10,
                fullscreenLoading: false,
                dataSetName: "",
                maintainDlg: false,
                deleteDlg: false,
                dataSetId: 0,
                ruleForm: {
                    projectId: "",
                    dataSetName:"",
                    dataSetDesc:""
                },
                rules: {
                    projectId: [{ required: true, message: '请选数据对应项目', trigger: 'blur' }],
                    dataSetName: [{ required: true, message: '请输入数据集名称', trigger: 'blur' }]
                },
                projectList: []

            };
        },
        methods: {
            onSearch: function () {
                this.pageIndex = 1;
                this.searchList();
            },
            searchList: function () {
                var param = {};
                param.pageIndex = this.pageIndex;
                param.pageSize = this.pageSize;
                param.dataSetName = this.dataSetName;
                this.fullscreenLoading = true;
                var that = this;
                $.ajax({
                    url: "/DataSet/SearchDataSetList",
                    type: "GET",
                    data: param,
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.success) {
                            that.DataSetList = data.data;
                            that.total = data.total;
                        }
                        else {
                            console.log(data.msg);
                        }
                        that.fullscreenLoading = false;
                    }
                });
            },
            showDeleteDlg: function (id) {
                this.deleteDlg = true;
                this.dataSetId = id;
            },
            showMaintainDlg: function (row) {
                this.maintainDlg = true;
                this.ruleForm.dataSetName = row.dataSetName;
                this.ruleForm.dataSetDesc = row.dataSetDesc;
                this.ruleForm.projectId = row.projectId;
                this.dataSetId = row.dataSetId;

            },
            submitFormData: function (formName) {
                var param = this.ruleForm;
                param.dataSetId = this.dataSetId;
                var that = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/DataSet/MaintainDataSet",
                            type: "Post",
                            data: param,
                            dataType: 'json',
                            success: function (data) {
                                that.maintainDlg = false;
                                that.searchList();
                                if (data && data.success) {
                                    that.$message({
                                        type: "success",
                                        message: data.msg,
                                        duration: 1000
                                    });
                                }
                                else {
                                    that.$message({
                                        type: "error",
                                        message: data.msg,
                                        duration: 2000
                                    });
                                    console.log(data.msg);
                                }
                            }
                        });

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            deleteDataSet: function () {
                var param = {};
                param.dataSetId = this.dataSetId;
                var that = this;
                $.ajax({
                    url: "/DataSet/DeleteDataSet",
                    type: "Post",
                    data: param,
                    dataType: 'json',
                    success: function (data) {
                        that.deleteDlg = false;
                        if (data && data.success) {
                            that.$message({
                                type: "success",
                                message: data.msg,
                                duration: 1000
                            });
                            that.onSearch();
                        }
                        else {
                            that.$message({
                                type: "error",
                                message: data.msg,
                                duration: 2000
                            });
                            console.log(data.msg);
                        }
                    }
                });
            },
            sourceFormatter(row, column) {
                let value = row.DataSource;
                switch (value) {
                    case 2:
                        return "单病种库";
                        break;
                    case 3:
                        return "数据文件";
                        break;
                    default:
                        return "搜索引擎";
                        break;
                }
            },
            isGeneratedFormatter(row, column) {
                let status = row.isGenerated;
                if (status === 0) {
                    return '否';
                } else {
                    return '是';
                }
            }
        },
        mounted: function () {
            this.onSearch();
            //初始化下拉框值
            var that = this;
            $.ajax({
                url: "/Project/Search",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    if (data && data.success) {
                        that.projectList = data.data;
                    }
                    else {
                        console.log(data.msg);
                    }
                }
            });
        }
    });

</script>
