@{
    ViewBag.Title = "SearchEngine";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<div id="mainArea" v-loading.fullscreen.lock="fullscreenLoading">

    <div>
        <el-row :gutter="10">
            <el-col :span="6">
                <el-input v-model="dataName"
                          placeholder="数据源名称"></el-input>
            </el-col>
            <el-col :span="4">
                <el-button v-on:click="onSearch" type="primary">搜索</el-button>
            </el-col>
            <el-col :span="14" >

            </el-col>
        </el-row>
    </div>
    <div style="margin-top:10px">
        <el-table v-bind:data="searchEngineDataList"
                  stripe
                  style="width: 100%">
            <el-table-column prop="dataName"
                             label="数据源名称" min-width="30%">
            </el-table-column>

            <el-table-column prop="userName"
                             label="创建人" min-width="10%">
            </el-table-column>

            <el-table-column prop="createTime"
                             label="创建时间" min-width="13%">
            </el-table-column>
            <el-table-column prop="extractTime"
                             label="最后抽取时间" min-width="12%">
            </el-table-column>

            <el-table-column label="操作" min-width="10%">
                <template slot-scope="scope">
                    <el-link type="primary" v-on:click="showExtractDataDlg(scope.row.id)">抽取</el-link>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination background style="float:right;"
                       layout="total,sizes, prev, pager, next"
                       :page-sizes="[10, 15, 20, 50]"
                       v-on:current-change="searchList"
                       v-on:size-change="onSearch"
                       v-bind:total="total"
                       v-bind:current-page.sync="pageIndex"
                       v-bind:page-size.sync="pageSize">
        </el-pagination>
    </div>


    <el-dialog title="抽取数据" v-bind:visible.sync="extractDataDlg" top="5vh" center width="40%"  :close-on-click-modal="false">
        <div style="min-height:200px;">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="项目名称" prop="projectId">
                    <el-select v-model="ruleForm.projectId" placeholder="请选数据对应项目">
                        <el-option v-for="item in projectList"
                                   :key="item.id"
                                   :label="item.projectName"
                                   :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <br />
                <el-form-item>
                    <el-button type="primary" v-on:click="extractData('ruleForm')">提交</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-dialog>
</div>

<script>
    var main = new Vue({
        'el': '#mainArea',
        data: function () {
            return {
                searchEngineDataList: [],
                total: 0,
                pageIndex: 1,
                pageSize:10,
                fullscreenLoading: false,
                dataName: "",
                extractDataDlg: false,
                exportDataId: 0,
                ruleForm: {
                    projectId: ""
                },
                rules: {
                    projectId: [{ required: true, message: '请选数据对应项目', trigger: 'blur' }]
                },
                projectList: []

            };
        },
        methods: {
            onSearch: function () {
                this.pageIndex = 1;
                this.searchList();
            },
            searchList: function () {
                var param = {};
                param.pageIndex = this.pageIndex;
                param.pageSize = this.pageSize;
                param.dataName = this.dataName;
                this.fullscreenLoading = true;
                var that = this;
                $.ajax({
                    url: "/DataSet/SearchEngineDataList",
                    type: "GET",
                    data: param,
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.success) {
                            that.searchEngineDataList = data.data;
                            that.total = data.total;
                        }
                        else {
                            console.log(data.msg);
                        }
                        that.fullscreenLoading = false;
                    }
                });
            },
            showExtractDataDlg: function (id) {
                this.extractDataDlg = true;
                this.exportDataId = id;
                this.ruleForm.projectId = "";
         
            },
            extractData: function (formName) {
                var param = this.ruleForm;
                param.exportDataId = this.exportDataId;
                var that = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/DataSet/ExtractSearchEngineData",
                            type: "Post",
                            data: param,
                            dataType: 'json',
                            success: function (data) {
                                that.extractDataDlg = false;
                                if (data && data.success) {
                                    that.$message({
                                        type: "success",
                                        message: data.msg
                                    });
                                }
                                else {
                                    that.$message({
                                        type: "error",
                                        message: data.msg
                                    });
                                    console.log(data.msg);
                                }
                            }
                        });

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        },
        mounted: function () {
            this.onSearch();
            //初始化下拉框值
            var that = this;
            $.ajax({
                url: "/Project/Search",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    if (data && data.success) {
                        that.projectList = data.data;
                    }
                    else {
                        console.log(data.msg);
                    }
                }
            });
        }
    });

</script>
