@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<div id="mainArea" v-loading.fullscreen.lock="fullscreenLoading">

        <div>
            <el-row :gutter="10">
                <el-col :span="24" class="text-right">
                    <span style="float: right;">
                        <el-button v-on:click="onAddProject" type="primary">添加</el-button>
                    </span>
                </el-col>
            </el-row>

        </div>
        <div style="margin-top:10px">

            <el-row :gutter="10">
                <el-col :span="6" v-for="project,index in projectList" v-bind:key="project.id">
                    <el-card body-style="{ padding: '0px' }" class="el-card">
                        <div class="pointer">
                            <el-col :span="8" style="padding:0px;">
                                <div style="text-align:center; vertical-align:middle; margin-top:12px;">
                                    <div class="logo-badge" v-bind:class="[basicColor[index%6]]">
                                        <span>
                                            {{project.projectName.substring(0,1)}}
                                        </span>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :span="16" style="padding:0px">
                                <div v-cloak>
                                    <div style="margin-bottom:5px;">
                                        {{project.projectName}}
                                        <br />
                                        <br />
                                        <span style="font-size:12px; "
                                              class="span-number-color">
                                            备注: {{project.projectDesc}}
                                        </span>
                                    </div>
                                    <div >
                                        <time class="date">更新时间: {{ project.createTime }}</time>
                                    </div>
                                    <div class="bottom clearfix">
                                        <i class="el-icon-menu edit" v-on:click="maintainProject(project.id)"
                                           style="padding-right:6px; padding-top:6px;font-size:20px"></i>
                                        <i class="el-icon-edit edit" v-on:click="onEditProject(project)"
                                           style="padding-top:6px;font-size:20px"></i>
                                        <i class="el-icon-delete recycle" v-on:click="showDeleteProjectDlg(project.id)"
                                           style="padding-top:6px; font-size:20px"></i>

                                    </div>
                                </div>
                            </el-col>
                        </div>
                    </el-card>
                </el-col>
                <el-col :span="6">
                    <div style="text-align:center;line-height:10;">
                    </div>
                </el-col>
            </el-row>

        </div>


    <el-dialog title="提示" :visible.sync="deleteProjectDlg" top="5vh" width="30%" center :close-on-click-modal="false">
        <div style="padding-left:20px; margin-bottom:10px">确定要删除该项目吗？</div>
        <span slot="footer" class="dialog-footer">
            <el-button v-on:click="deleteProjectDlg=false">取 消</el-button>
            <el-button type="primary" v-on:click="deleteProject">确 定</el-button>
        </span>
    </el-dialog>

    <el-dialog title="编辑项目" v-bind:visible.sync="projectDetailDlg" top="5vh" width="40%" center :close-on-click-modal="false">
        <div style="min-height:200px;padding-right:50px">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px">
                <el-form-item label="项目名称" prop="projectName">
                    <el-input v-model="ruleForm.projectName"  ></el-input>
                </el-form-item>
                <br />
                <el-form-item label="项目描述" prop="projectDesc">
                    <el-input v-model="ruleForm.projectDesc" ></el-input>
                </el-form-item>
                <br />
                <el-form-item>
                    <el-button type="primary" v-on:click="submitProjectForm('ruleForm')">提交</el-button>
                    <el-button v-on:click="projectDetailDlg=false">取消</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-dialog>
</div>

<script>
    var main = new Vue({
        'el': '#mainArea',
        data: function () {
            return {
                basicColor: ["bg-blue", "bg-green", "bg-organge", "bg-green", "bg-red", "bg-green", "bg-blue"],
                projectList: [],
                fullscreenLoading: false,
                deleteProjectDlg: false,
                projectDetailDlg: false,
                projectId: 0,
                ruleForm: {
                    projectName: "",
                    projectDesc: ""
                },
                rules: {
                    projectName: [{ required: true, message: '请输入项目名称', trigger: 'blur' }],
                    projectDesc: [{ required: true, message: '请输入项目描述', trigger: 'blur' }]
                },
                huabuindex: 0,

            };
        },
        methods: {
            onSearch: function () {
                this.pageIndex = 1;
                this.searchList();
            },
            searchList: function () {
                var param = {};
                param.pageIndex = 1;
                param.pageSize = 100;
                this.fullscreenLoading = true;
                var that = this;
                $.ajax({
                    url: "/Project/Search",
                    type: "GET",
                    data: param,
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.success) {
                            that.projectList = data.data;
                        }
                        else {
                            console.log(data.msg);
                        }
                        that.fullscreenLoading = false;
                    }
                });
            },
            showDeleteProjectDlg: function (id) {
                this.deleteProjectDlg = true;
                this.projectId = id;
            },
            onEditProject: function (row) {
                this.projectDetailDlg = true;
                this.ruleForm.projectName = row.projectName;
                this.ruleForm.projectDesc = row.projectDesc;
                this.projectId = row.id;
            },
            onAddProject: function () {
                this.projectDetailDlg = true;
                this.ruleForm.projectName = "";
                this.ruleForm.projectDesc = "";
                this.projectId = 0;
            },
            deleteProject: function () {
                var param = {};
                param.id = this.projectId;
                var that = this;
                $.ajax({
                    url: "/Project/DeleteProject",
                    type: "Post",
                    data: param,
                    dataType: 'json',
                    success: function (data) {
                        that.deleteProjectDlg = false;
                        if (data && data.success) {
                            that.$message({
                                type: "success",
                                message: data.msg
                            });
                            that.onSearch();
                        }
                        else {
                            that.$message({
                                type: "error",
                                message: data.msg
                            });
                            console.log(data.msg);
                        }
                    }
                });
            },
            submitProjectForm(formName) {
                var param = this.ruleForm;
                param.id = this.projectId;
                var that = this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/Project/MaintainProject",
                            type: "Post",
                            data: param,
                            dataType: 'json',
                            success: function (data) {
                                that.projectDetailDlg = false;
                                if (data && data.success) {
                                    that.$message({
                                        type: "success",
                                        message: data.msg
                                    });
                                    that.onSearch();
                                }
                                else {
                                    that.$message({
                                        type: "error",
                                        message: data.msg
                                    });
                                    console.log(data.msg);
                                }
                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            maintainProject(projectId) {
                this.huabuindex++;
                top.tab.tabAdd({
                    href: "/dist/index.html?projectId=" + projectId,
                    icon: 'fa-cubes',
                    title: '画布演示' + this.huabuindex
                });
            }
        },
        mounted: function () {
            this.onSearch();
        }
    });

</script>
